<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <script th:src = "@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.0.3/jquery.js" type="text/javascript"></script>
    <!--<script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>-->
</head>
<body>

    <button id="stop">Stop</button>

    <script th:inline="javascript">
        var url = 'localhost:8080/marco';
        var sock = new SockJS(url);

        sock.onopen = function () {
            console.log("Opening");
            sayMarco();
        }

        sock.onmessage = function (e) {
            console.log('Received message: ', e.data);
            $('#output').append('Received "' + e.data + '"<br/> ');
            setTimeout(function () {
                sayMarco()
            }, 2000);
        }

        sock.onclose = function () {
            console.log('Closing');
        }

        function sayMarco() {
            console.log('Sending Marco!');
            $('#output').append('Sending "Marco!"<br/>');
            sock.send("Marco!");
        }
        $('#stop').click(function () {
            sock.close();
        });
    </script>

    <div id="output"></div>
</body>
</html>